<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularList</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script type="text/javascript" src="js/angularList.js"></script>
</head>
<body ng-app="angularList">

<div ng-controller="listController as list" class="list">
    <div ng-controller="addController as addCtl">
        <input type="text" ng-blur="addCtl.addItem(list)" ng-model="addCtl.item.itemName"/>
    </div>
    <div class="list-show">
        <div class="list-item" ng-repeat="item in list.items" >
            <i class='glyphicon glyphicon-ok' ng-class="{active:active} " ng-click="active=true">
                <span>{{item.itemName}}</span>
            </i>
            <i class='glyphicon glyphicon-remove' ng-click="list.remove(item)"></i>
        </div>
    </div>
</div>
</body>
</html>